.btn-primary {
  color: white;
  padding: 16px 24px;
  border-radius: 50px;
  background: #FFBF69;
  transition: background 0.3s ease;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-primary:hover {
  background: #FF9F1C;
  color: white;
}
